.logo{
    width: 150px;
    height: 150px;
    border-radius: 80%;
     background: transparent;
}
.logo-text{
    display: flex;
    align-items: center;
    gap: twelve px;
    font-size: twenty-four px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

body{
    background-color: black;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-image: url(./img/bac.JPG);
    transform: translate(-50%, -50%);
}